<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container" id="playlist"></div>
    <div class="container" id="song_search">
        <div class="wrapper">
            <br>Enter song Name: <input type="text" id="song" />
            <button id="submit_button"  style="margin-bottom: 50px;">Submit</button>
        </div>
    </div>
    <div class="container" id="songmatches"></div>

    <script src="js/eventListeners.js"></script>
    <script src="js/keyHandlers.js"></script>
    <script src="js/createTables.js"></script>
    <script src="js/script.js"></script>
    <script src="js/loadPage.js"></script>
</body>

</html>
